[user]
    name = Savenkov Igor
    email = savenkovigor.dev@gmail.com
[core]
    editor = code --wait
    fsmonitor = true
[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[init]
    defaultBranch = main
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true


[rerere]
    enabled = true
    autoUpdate = true
[alias]
    st = status
    sstash = stash --staged
    fpush = push --force-with-lease
    fixup = commit --fixup
    ffixup = "!f() { git commit --fixup $(git log -1 --format=\"%H\" -- \"$1\"); }; f"
    rsquash = rebase --autosquash
    new = switch -c
    irebase = rebase --interactive
[rebase]
    updateRefs = true
